<a href="https://colab.research.google.com/github/cmadding/MSDS_7333_QTW/blob/master/Case_Study_Unit_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Case Study Unit 15  

Allen Ansari, Chris Ballenger, Shantanu Godbole, Chad Madding

DS 7333 Quantifying the World

August 15, 2020

#### Introduction
In this unit, we will be using an ensemble of categorical prediction methods to find the best accuracy and ROC score. A gridsearch will assist in removing low performing features from random forest and keep the optimal features. We will focus on metrics like the F1-Score, accuracy, recall, precision, and the ROC score to find the best prediction rate while finding the best balance between true positives and false negatives.

#### Methods
In this project, we will first work on data exploration, any needed categorical data conversion, and replacing missing values.
After exploration and cleaning, we will look at the best categorical predictors while removing lesser features. We will perform a gridsearch to assist with hyperparameter tuning for our random forest parameters. Finally, we will design an ensemble model with the highest ROC score, accuracy, precision, recall, and F1-Score.

In [1]:
#Connect Google Drive to Colab
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
# Load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# visualize missing values
import missingno as msno

# model_selection
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split

# linear classifiers
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

# non-linear classifiers
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

# ensemble learners
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import VotingClassifier

# metrics
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score

# model persistence
from pickle import dump
from pickle import load

# ignore deprecated warnings
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# read in the dataset
data = pd.read_csv('/content/drive/My Drive/Colab/Data/final_project.csv')
data.shape

(160000, 51)

The dataset contains 51 variables and 160,000 rows of data.

We can look at the first few rows of data to see the makeup of the dataset.

In [4]:
#the first five rows of data
data.head()

         x0        x1         x2        x3  ...       x47       x48        x49  y
0 -0.166563 -3.961588   4.621113  2.481908  ... -7.689696  0.151589  -8.040166  0
1 -0.149894 -0.585676  27.839856  4.152333  ... -4.896678 -0.320283  16.719974  0
2 -0.321707 -1.429819  12.251561  6.586874  ... -7.428573 -2.090804  -7.869421  0
3 -0.245594  5.076677 -24.149632  3.637307  ...  5.361375  1.806070  -7.670847  0
4 -0.273366  0.306326 -11.352593  1.676758  ... -0.208351 -0.894942  15.724742  1

[5 rows x 51 columns]

In [5]:
print("Table 1: Basic Statistical Details")
data.describe()

Table 1: Basic Statistical Details

                  x0             x1  ...            x49              y
count  159974.000000  159975.000000  ...  159968.000000  160000.000000
mean       -0.001028       0.001358  ...      -0.674224       0.401231
std         0.371137       6.340632  ...      15.036738       0.490149
min        -1.592635     -26.278302  ...     -65.791191       0.000000
25%        -0.251641      -4.260973  ...     -10.931753       0.000000
50%        -0.002047       0.004813  ...      -0.574410       0.000000
75%         0.248532       4.284220  ...       9.651072       1.000000
max         1.600849      27.988178  ...      66.877604       1.000000

[8 rows x 46 columns]

In [6]:
print("Table 2: Categorical Details")
data.describe(include=['object'])

Table 2: Categorical Details

           x24     x29        x30     x32       x37
count   159972  159970     159970  159969    159977
unique       3      12          5      12    129198
top       asia    July  wednesday   0.01%  $-415.46
freq    138965   45569     101535   40767         6

There are a few categorical varables that will need encoding. x 32 and x37 look to not be encoded correctley. x32 has a % sigh and x37 has a dollar amount. We can remove the $ sign and the % sigh then conver them to a float value.

In [7]:
# x32 has a % that needs to be removed and convert to float
def PerSign(var):
    var = var.str.replace('%', "")
    return var.astype("float")

data['x32'] = PerSign(data['x32'])
data.x32.head()

0    0.00
1   -0.02
2   -0.01
3    0.01
4    0.01
Name: x32, dtype: float64

In [8]:
# x37 has a $ that needs to be removed and convert to float
def DollarSign(var):
    var = var.str.replace('$', "")
    return var.astype("float")

data['x37'] = DollarSign(data['x37'])
data.x37.head()

0    1313.96
1    1962.78
2     430.47
3   -2366.29
4    -620.66
Name: x37, dtype: float64

In [12]:
# divide the variables based on their types
objects = data.loc[:, data.dtypes == object]
numerics = data.loc[:, data.dtypes == float]
responseVariable = data.y

There are only three catagorital variables left. With entries like asia, July and wednesday, these look to be variables we can encode propertaly.

In [13]:
# count the 'opjects'
objects.describe().T

      count unique        top    freq
x24  159972      3       asia  138965
x29  159970     12       July   45569
x30  159970      5  wednesday  101535